
body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    position: relative;
}
.pad-1em{
    padding: 1em;
}
.c-pointer{
    cursor: pointer;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}

/*Overrides*/
.el-upload-dragger .el-icon-upload {
    font-size: 67px;
    color: #97a8be;
    margin: 2vh;
    line-height: 12vh;
}

/*Sidebar*/
.redspan{
    background: #ffeced; padding: 0.3em; color: #af6063; border-radius: 2px;
}
.greenspan{
    background: #fcfff5; padding: 0.3em; color: #1a531b; border-radius: 2px;
}

.tags{
    color: #fff;
    line-height: 17px;
    font-size: 11px;
    padding: 0 10px;
    border-radius: 2px;
}
.tags.PAYU {
    background: rgba(188, 207, 0, 1);
}
.sidebar-wpr{
    min-height: 1px;
    position: relative;
    height: 100vh;
    background: #fbfcfc;
    padding: 0 !important;
}
.sidebar-wpr .sidebar-heading {
    color: rgba(56,58,99,1);
    word-wrap:break-word;
    padding: 0px 20px;
    margin-top: 30px;
    text-align: left;
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 20px;
}
.sidebar-wpr .sidebar-recent-project{
    padding: 0pc 20px;
    height: calc(100vh - 90px);
    overflow-y: auto;
}.sidebar-wpr .sidebar-recent-project .recent-project-item-wpr{
    border-bottom: 1px solid rgba(60,71,145,0.25);    
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-align: left;
}
.sidebar-path{
    padding: 0px 20px;
}
.sidebar-path .content{
    background: rgba(56,58,99,1);
    border-radius: 5px; 
    padding: 10px 20px;
    color: #fff;
    line-height: 30px;
    margin: 15px 0 30px 0;
    box-shadow: 0px 2.8px 6.5px 1px rgba(0,0,0,0.26);
    position: relative;
}
.sidebar-path .content .heading{
    word-wrap:break-word;
    font-weight: 600;
    font-size: 19px;
}
.sidebar-path .content .data{
    word-wrap:break-word;
    font-size: 13px;
    line-height: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.recent-project-item-wpr .title{
    word-wrap:break-word;
    font-size: 17px;
    font-weight: 700;
    color: rgba(56,58,99,1);
    line-height: 25px;
    cursor: pointer;
}
.recent-project-item-wpr .path{
    word-wrap:break-word;
    font-size: 12px;
    color: rgba(118,118,118,1);
    padding-bottom: 3px
}
.recent-project-item-wpr .note{
    word-wrap:break-word;
    font-size: 12px;
    font-style: italic;
    color: rgba(118,118,118,1);
    font-weight: 500
}

/*Content*/
.content-wpr{
    min-height: 1px;
    position: relative;
    height: 100vh;
    box-shadow: -5px 0px 20px 0px #ddd;
    overflow-y: auto;
}
.content-wpr .task-list{
    width: 50%;
    margin: auto;
    margin-top: 5vh;
}
.content-wpr .task-list h4{
    color: #eee;
}
.content-wpr .task-list>div{
    /*color: #eee;*/
    /*background: rgb(56, 58, 99);*/
    width: 150px;
    height: 120px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0;
}
.content-wpr .super-coder{
    width: 100vw;
    margin: 0vh auto;
}
.super-coder>img{
    height: calc(100vh - 290px);
}
.get-source-folder{
    width: 80%;
    margin: auto;
    text-align: center;
}
.get-source-folder .skip{
    font-size: 14px;
    padding: 2px;
    color: #383a63;
    cursor: pointer;
}
.get-source-folder .heading{
    font-size: 21px;
    color: rgb(56, 58, 99);
    font-weight: 700;
}
.get-source-folder .box{
    padding: 15px;
}
.get-source-folder .box .el-upload, .get-source-folder .box .el-upload-dragger{

    height: 130px;/*16vh*/
    width: 100%;
}

/*Integration Page CSS*/
.integration-task-list{
    overflow: hidden;
}
.integration-task-list .grouped.fields{
    margin-top: 30px;
}
.integration-task-list .download i{
    font-size: 2em;
    padding: 10px;
    position: relative;
    top: 5px;
}
.integration-task-list .download span{
    font-size: 16px;
}

/*Card UI*/
.integration.list-wpr{
    margin: 5vh 5em;
}
.integration .list-item{
    display: table;
    content: " ";
    width: 100%;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    transition: transform .3s ease-in-out,box-shadow .3s ease-in-out;    
    border-bottom: 1px solid #c3c3c3;
}
.integration .list-item:hover{
    box-shadow: 0 1px 2px rgba(43,59,93,.29), 0 0 13px rgba(43,59,93,.29);
}
.integration .list-item .content-data{
    width: 60%;
    margin: 10px 0 0 3%;
}
.integration .list-item .integration-btn{
    width: 15%;
    margin: 22px 3% 0 0;
    background: #383a63;
    color: #eee;
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 300;
    transition: .25s ease-in-out;
}
.integration .list-item .integration-btn:hover{
    background: #52558a;
    transition: .25s ease-in-out;
}
.integration .list-item .content-data .title{
    font-size: 22px;
    font-weight: 300;
}
.integration .list-item .content-data .desc{
    line-height: 35px;
    margin: 0;
}
.devblue{
    color: #383a63;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #383a63; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 63%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar or toast when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}