<!DOCTYPE html>
<html>
<head>


    <meta charset="utf-8">
    <title>devsupport-ai</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,600,700" rel="stylesheet">
    <!-- Add `node_modules/` to global paths so `require` works properly in development -->
    <script>
      require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      document.addEventListener("keydown", function (e) {
        if (e.which === 123) {
          require('remote').getCurrentWindow().toggleDevTools();
        } else if (e.which === 116) {
          location.reload();
        }
      });
    </script>
    <% } %>

</head>
<body>
<div id="app"></div>
<!-- Set `__static` path to static files in production -->
<script>
  if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
</script>

<!-- webpack builds are automatically injected -->
<link rel="stylesheet" href="src/renderer/main.css">
</body>
</html>
